.beneficio {
    background: #888888;
    padding: 3em 0;
    text-align: center;
}

.beneficio__titulo {
    color: rgba(0, 0, 0, 0.8);
    font-size: 3.2rem;
    font-weight: 300;
    padding: 2rem 0 4rem;
}

.beneficio__contaier {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin: 0 auto;
    width: 90%;
    max-width: 940px;
}

.beneficio__lista {
    text-align: start;
    width: 50%;
}

.lista-itens {
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.5;
}

.lista-itens:first-child {
    font-weight: bold;
}

.lista-itens::before {
    content: "★";
}

.beneficio__image {
    border-radius: 30px 10px;
    box-shadow: 1rem 1rem 0 0 #000;
    width: 50%;
}

.beneficio__video {
    margin: 3rem auto;
    width: 90%;
    max-width: 940px;
}

.beneficio__video iframe {
    height: 500px;
    width: 100%;
}
