.cabecalho{
    background: #BBBBBB;
    padding: 2rem 0;
}


.cabecalho__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    max-width: 940px;
    width: 90%;
    height: 96px;
}

.cabecalho__image {
    width: 50%;
}

.cabecalho__nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.cabecalho__nav-link {
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-size: 3rem;
    text-decoration: none;
}

.cabecalho__nav .cabecalho__nav-link:hover {
    color: #C78C19;
    text-decoration: overline;
}
