.map{
  background: linear-gradient(#FEFEFE, #888888);
  padding: 2rem 0 4rem;
  text-align: center;
}

.map__titulo {
  color: rgba(0, 0, 0, 0.8);
  font-size: 3.2rem;
  font-weight: 300;

  padding: 2rem 0;
}

.map p{
  font-weight: 100;
  margin: 0 0 2em;

  font-size: 1.8rem;
}

.map__quadro{
  width: 90%;
  max-width: 940px;

  margin: 0 auto;
}

.map__quadro iframe{
  width: 100%;
}
