.sessaoMap {
    background: linear-gradient(#FEFEFE, #888888);

    padding: 3em 0;
    text-align: center;
}

.sessaoMap p {
    font-weight: 300;
    margin: 0 0 2em;

    font-size: 1.8rem;
}

.map {
    width: 100%;
    max-width: 940px;

    margin: 0 auto;
}

.map iframe {
    width: 90%;
}