body{

}

.cabecalhoPrincipal{
  background: #BBBBBB;
  padding: 20px 0;
}

.container-principal{
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.cabecalho-nav{
  position: absolute;
  top: 110px;
  right: 0;
}

.cabecalho-nav-link{
  margin: 0 0 0 15px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 27px;
  text-decoration: none;
}

.corpo-conteudo{
  background: #FFFFFF;
  padding: 50px 0;
}

.container-cards{
  width: 940px;
  margin: 0 auto;
}

.lista-servicos{
  text-align: center;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 30px 0;
}

.titulo-secundario{
  font-size: 30px;
  font-weight: bold;
}

.descricao-produto{
  font-size: 18px;

}

.valor-produto{
  font-weight: bold;
  font-size: 22px;
}
