body{

}

/* Sessão principal  */
.cabecalhoPrincipal-pgInicial{
  background: #BBBBBB;
  padding: 20px 0;
}

.container-principal-pgInicial{
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.cabecalho-nav-pgInicial{
  position: absolute;
  top: 110px;
  right: 0;
}

.cabecalho-nav-link-pgInicial{
  margin: 0 0 0 15px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 27px;
  text-decoration: none;
}

/*
 Quando o mause passar por cima, transforme
  Menu principal
*/
.cabecalho-nav-pgInicial .cabecalho-nav-link-pgInicial:hover{
  color: #C78C19;
  text-decoration: overline;
}

/* conteudo style */
.container-conteudo{
  padding: 20px;
}

/* image style */
#imageBanner{
  width: 80%;
  border-radius: 10px;
}

/* Sessão conteudo da pagina  */
.ConteudoInicial{
  background: #CCCCCC;
  border-radius: 12px;

  padding: 20px;

  font-family: 'Scheherazade New', serif;
}

.tituloCentralizado{
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin: 30px 20px;
}

p{
  text-align: center;
  font-size: 18px;
  margin: 30px 20px;
}

#styleMissao{
  font-size: 25px;
}

em strong{
  color: #C78C19;
}

.sessaoBeneficio{
  background: #FFFFFF;
  padding: 20px;

  font-family: 'Roboto', sans-serif;

}

.lista-itens{
  display: inline-block;
  vertical-align: top;

  width: 20%;
  margin-right: 15%;
}

.imageBeneficio{
  width: 60%;
  border-radius: 5px 30px;
}

/* Sessão final, Rodapé */

footer{
  text-align: center;
  background: url('imagens/bg.jpg');

  padding: 20px;
}

footer img{
  margin: 20px;
}

footer p{
  color: #FFFFFF;
  font-weight: 12px;
}
