body{

}

/* Sessão principal  */
.cabecalhoPrincipal-pgInicial{
  background: #BBBBBB;
  padding: 20px 0;
}

.container-principal-pgInicial{
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.cabecalho-nav-pgInicial{
  position: absolute;
  top: 110px;
  right: 0;
}

.cabecalho-nav-link-pgInicial{
  margin: 0 0 0 15px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 27px;
  text-decoration: none;
}

/*
 Quando o mause passar por cima, transforme
  Menu principal
*/
.cabecalho-nav-pgInicial .cabecalho-nav-link-pgInicial:hover{
  color: #C78C19;
  text-decoration: overline;
}

/* image style */
#imageBanner{
  width: 90%;
  border-radius: 10px;
}

/* Sessão conteudo da pagina  */
.tituloCentralizado{
  text-align: center;
}

p{
  text-align: center;
}

#styleMissao{
  font-size: 25px;
}

em strong{
  color: #FFFFFF;
}

.sessaoBeneficio{
  background: #FFFFFF;
  padding: 20px;
}

.itens{
  font-family: serif;
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imageBeneficio{
  width: 60%;
  border-radius: 5px 30px;
}
